@import "import";

// styles

.header {
  height: $height-header;
  width: 100%;
  padding: 0 30px;
  background: $white;
  box-shadow: $basic-shadow;
  position: fixed;
  top: 0;
  z-index: 1;
  &__title {
    font-size: 2.4rem;
    line-height: $height-header;
  }
}

.main {
  margin-top: $height-header;
  min-height: $height-main;
  background: $super-light-gray;
  padding: 30px 0;
  font-size: 1.6rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  &__container {
    @include mq("pc") {
      width: calc((100% - 96px)/3);
    }
    @include mq("tab") {
      width: calc((100% - 72px)/2);
    }
    @include mq("sp") {
      width: calc(100% - 48px);
    }
    margin-bottom: 24px;
    background: $white;
    padding: 24px;
    border-radius: 6px;
    box-shadow: $basic-shadow;
    position: relative;
  }
  &__title {
    border-bottom: 2px solid $super-light-gray;
    padding: 0 10px;
    font-size: 1.8rem;
    margin-bottom: 16px;
  }
  &__button {
    position: absolute;
    top: 26px;
    right: 32px;
    border-radius: 6px;
    color: $white;
    background: $dark-gray;
    padding: 2px 10px;
    transition: 0.6s;
    &:hover {
      opacity: 0.6;
    }
  }
  &__space {
    border: 2px solid $super-light-gray;
    border-radius: 4px;
    min-height: 300px;
    position: relative;
    overflow: hidden;
  }

  // polkadot
  .polkadot {
    p {
      position: absolute;
      background: transparent;
      border-radius: 50%;
      width: 1px;
      height: 1px;
    }
  }
}
